<!DOCTYPE html>
<head>
   <title>Current Status</title>
</head>

<body>
   <h1>DropBox</h1>

   <h1>{{message}}{{logs}} </h1>

    <button id="requestPermissionButton" class="btn btn-warning btn-lg btn-block">desctop request</button>
    <hr />
    <div id="notificationBlock" class="form-group">
        <label class="control-label">alarm message</label>
        <div class="input-group">
            <span class="input-group-addon">message</span>
            <input id="notificationMessage" type="text" class="form-control" disabled/>
            <span class="input-group-btn">
                <button id="notificationButton" class="btn btn-info" type="button" disabled>alarm</button>
            </span>
        </div>
    </div>
</body>


 <script>
       function notify() 
       {
            if (!("Notification" in window)) 
            {
               alert("not allow desktok alarm");
            }
       // µ¥½ºũž ¾˸² ±ȇϠ¿僻
       Notification.requestPermission(function (result) {
           // ±ȇϠ°ƀ
           if(result == 'denied') 
           {
               alert('alarm denied \n browser setting please');
               return false;
           }
       });
        var options = {
              body: "hello"
          }
          
          var notification = new Notification("hello", options);
         
      }
      notify();


      var requestPermissionButton = $("#requestPermissionButton");
      var notificationButton = $("#notificationButton");
      var notificationMessage = $("#notificationMessage");
      var iconDataURI = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKBJREFUeNpiYBjpgBFd4P///wJAaj0QO9DEQiAg5ID9tLIcmwMYsDgABhqoaTHMUHRxpsGYBv5TGqTIZsDkYWLo6gc8BEYdMOqAUQeMOoAqDgAWcgZAfB9EU63SIAGALH8PZb+H8v+jVz64KiOK6wIg+ADEArj4hOoCajiAqMpqtDIadcCoA0YdQIoDDtCqQ4KtBY3NAYG0csQowAYAAgwAgSqbls5coPEAAAAASUVORK5CYII=";

      requestPermissionButton.on("click", function () {
          Notification.requestPermission(function (result) {

              if (result === 'denied') {
                  return;
              }
              else {
                  requestPermissionButton.attr('disabled', 'disabled');
                  notificationMessage.removeAttr('disabled');
                  notificationButton.removeAttr('disabled');
                  return;
              }
          });
      });


      notificationButton.on("click", function () {
          var message = notificationMessage.val();
          
          if (message !== null && message.length > 0) {
              
              var options = {
                  body: message,
                  icon: iconDataURI
              }
             
              var notification = new Notification("this is alarm hello", options);
              
              setTimeout(function () {
                  notification.close();
              }, 5000);
          }
      });
   </script>
</html>