<!DOCTYPE html>
<head>
   <title>Current Status</title>
</head>

<body>
   <h1>★ 무인택배함 ★</h1>

   {% for log in logs %}
   <p>The {{ logs[log].name }}
   {% if logs[log].select == true %}
      이(가) 맞습니까? (<a href="/{{log}}/Y">YES</a> / <a href="/{{log}}/N">NO</a>)
   {% endif %}
   </p>
   <a href="/{{receipt}}/get">수령완료</a>
   {% endfor %}

   {% if message %}
   <h2>{{ message }}</h2>
   {% endif %}

</body>

 <script>
       function notify() 
       {
            if (!("Notification" in window)) 
            {
               alert("데스크톱 알림을 지원하지 않는 브라우저입니다.");
            }
       // 데스크탑 알림 권한 요청
       Notification.requestPermission(function (result) {
           // 권한 거절
           if(result == 'denied') 
           {
               alert('알림을 차단하셨습니다.\n브라우저의 사이트 설정에서 변경하실 수 있습니다.');
               return false;
           }
       });
        var options = {
              body: "ㅋㅋㅋ"
          }
          
          // 데스크탑 알림 요청
          var notification = new Notification("DororongJu", options);
         
      }
      notify();
   </script>
</html>

